<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<% if(user){ %>
    <a  class="logo" href="/anime"><h1>MangaMuse</h1></a>
<% } else { %>
    <h1 class="logo">MangaMuse</h1>
<% } %>
<nav>
    <% if (user){ %>
        <a href="/anime">Profile</a>
        <a href="/anime/create">Create</a>
        <a href="/anime/user">Users</a>
        <a href="/auth/logout">Logout</a>
    <%} else{ %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/login">Login</a>
    <%} %>

</nav>