@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
nav {
  background-color: #08359f;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.logo{  
  text-align: left;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #2c2b2b;
}
