<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Anime:</h1>
    <% allAnime.forEach(element => { %>
        <p>Name: <%= element.name %></p>
        <a href="/anime/<%=element._id%>">Show more details</a>
    <%= }); %>
</body>
</html>